@import "reset.css";

body {
    font:14px/1.5 Helvetica, Sans-serif;
}

h1 {
    font:bold 2em/1.5 Helvetica, Sans-serif;
}

h4 {
    font:bold 1.2em/1.5 Helvetica, Sans-serif;
}

.phonographic-template {
    width:700px;
    margin:0 auto;
}

hgroup {
    margin-bottom:1em;
}
